<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMS-Vote</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
        <nav>
            <div id="logo">
                <img src="/images/nitc.png" alt="">
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <% if(session.user_type) { %>
                    <li>
                        <a href="/logout" class="btn btn-primary">Logout</a>
                    </li>
                    <% } else { %>
                        <li>
                            <a href="/login">Log in</a>
                        </li>
                        <% } %>
            </ul>
        </nav>
        <h1 id="head">Election Management System</h1>
    </header>
    <main>
        <h2 class="center2">
            <%= post.Name %>
        </h2>
        <h4 class="center2">
            <%= post.Desc %>
            <p>
                <% if(messages) { %>
                    <script>
                        var msgs = JSON.parse('<%- JSON.stringify(messages) %>')
                    </script>
                    <%= JSON.stringify(messages) %>
                            <% } %>
            </p>
        </h4>
        <form action="/voter/vote" method="post">
            <div class="center">

                <input type="hidden" name="postId" value="<%=post.Id %>" /> 

                <% for(var i=0; i < candidates.length; i++) { %>
                    <label for = "<%=candidates[i].Rollno%>">
                        <input type="radio" name = "candidateId" 
                        id = "<%=candidates[i].Rollno%>"
                        value = "<%=candidates[i].Rollno%>" class="rad-input">

                        <div class="container2">
                            <img id="candidatepic" src="/<%=candidates[i].Photo%>" alt="">
                            <div class="title">
                                <%=candidates[i].Name%>
                            </div>
                            <div class="subtitle">
                                <%=candidates[i].Rollno%>
                            </div>
                            <div class="desc">
                                <%=candidates[i].Manifesto%>
                            </div>
                        </div>
                    </label>
                <% } %>

            </div>
            <div class="center2">
                <button type="submit" style="margin:20px">Submit</button>
            </div>
        </form>


    </main>
</body>

</html>